.topbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0.1rem;
}

.topbar__icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.topbar__text {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-color);
    padding: 0 0 0.5rem 0.5rem;
}
 .topbar__icon {
    color: var(--light-color);
    cursor: pointer;
    font-family: "Bodoni Moda", serif;
    padding-right: 0.5rem;
}

.topbar__icon-text {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: var(--light-color);
    padding-right: 0.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background: var(--primary-color);
}

header .navbar {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-weight: 600;
    font-style: italic;
    padding: 1px;
}

.navbar {
    background-color: var(--second-nav);
}

.navbar, .nav-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-content: stretch;
    justify-content: center;
}

.navbar, .nav-menu, .nav-link {
    color: var(--lightess-dark);
}

.sidebar {
    position: fixed;
    padding: 1rem;
    width: 60%;
    height: 60%;
    z-index: 999;
    background-color: #ea9a9743;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed var(--dark-color);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.navbar__hamburger, .navbar__hamburger_close {
    cursor: pointer;
}

.navbar__hamburger {
    display: none;
}

.nav-item {
    position: relative;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: var(--primary-color);
    padding: 2rem;
    display: none;
    z-index: 9;
}

.nav-item:hover .dropdown_menu {
    display: block;
}

.dropdown_menu .nav-item {
    padding: 0.5rem;
}


#banneralex {
    width: 100%;
    background-image: url(../assets/imgs/ValentineDay2025-shielded-robust.png);
    height: 15rem;
    background-position: center;
    border:1px solid var(--border-color);
    background-size: cover;
  }

/* Responsive  */
@media (max-width: 800px) {
    .navbar__hamburger {
        display: block;
    }

    .hideOnMobile {
        display: none;
    }

    .dropdown_menu {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    #banneralex {
        height: 10rem;
    }
}